body {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Anek Telugu', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Rubik Dirt', cursive;
    font-family: 'Secular One', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0%;
}

span {
    color: orange;
}

h1 {
    font-size: 49px;
}

.link {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 800;
    background-color: orange;
    border: 3px solid red;
    border-radius: 12px;
    padding: 4px;
}

.sec1 {
    display: flex;
    background-image: url(shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}

.div1 {
    width: 60%;
    padding-left: 3%;
}

.div2 {
    width: 40%;
    padding-left: 3%;
    padding-top: 2%;
}

.sec2 {
    display: flex;
    background-image: url(shapes/Frame\ 57.jpg);
    background-position: right;
}

.div3 {
    width: 40%;
    padding-left: 3%;
    padding-top: 2%;
}

.div4 {
    width: 60%;
    padding-left: 5%;
    padding-top: 23%;
}

.flexible-container {
    display: flex;
}

.div5 img {
    width: 50%;
    padding-left: 140px;
}

.div6 img {
    width: 50%;
    padding-left: 140px;
}

.div5 {
    width: 40%;
    padding-left: 14%;
    margin: 5%;
    box-shadow: 10px 10px 15px red;
    padding: 10px;
    border-radius: 10px;

}

.div6 {
    width: 40%;
    padding-left: 7%;
    padding-right: 8%;
    box-shadow: 10px 10px 15px green;
    margin: 5%;
    padding: 10px;
    border-radius: 10px;


}

.center {
    text-align: center;
}

.bold {
    font-weight: 900
}

.sec3 {

    background-image: url(shapes/Frame\ 57.jpg);
    background-position: right;
    margin-top: auto;
}

.div7 {
    display: flex;
}

.latest1 {
    display: flex;
}

.latest2 {
    display: flex;
}

.f1 {}

.f2 {
    padding-left: 10%;
}

.f3 {
    padding-left: 12%;
}

.final {
    padding-left: 28%;
    border: 2px solid rgb(214, 214, 14);
    margin: 5%;
    box-shadow: 10px 10px 20px blue;
}

footer {
    background-color: black;
    padding-bottom: 10%;
}

.color {
    color: whitesmoke;
    text-align: center;
    padding-top: 50px;
}